<h1>Seu Carrinho</h1>
<div class="alert alert-warning alert-dismissible fade show d-inline-block" role="alert">
  <%= flash[:message] unless flash[:message].blank? %>
</div>
<% @carts.each do |cart| %>
  <ul>
    <li><%= link_to cart.product.name, users_cart_path(cart), class:"btn btn-success btn-sm mb-1 mt-1" %></li>
  </ul>
  <%= link_to 'Finalizar Compra', users_order_path(cart) %>
<% end %>
