<h1>Meus Pedidos</h1>

<% @carts.each do |cart| %>
  <ul>
    <%= link_to cart.product.name, order_users_cart_path(cart), class:"btn btn-success btn-sm mb-1 mt-1" %>
    <p>Data da compra <%= l(cart.created_at, format: :custom) %></p>
  </ul>
<% end %>
