<%= render 'shared/error_messages', resource: @category %>

<h2>Editar Categoria</h2>

<% if @category.parent.present? %>
  <%= link_to "Categoria Principal: #{ @category.parent.name }", edit_admin_category_path(@category.parent) %>
<% end %>

<%= render 'form', url: admin_category_path %>