<h2>Categorias</h2>
<br>
<% @categories.each do |category| %>
  <p>
    <%= link_to category.name, edit_admin_category_path(category) %>
  </p>
  <p>
    <%= category.status %>
  </p>
<% end %>
<p>
  <%= link_to 'Adicionar categoria', new_admin_category_path, class:"btn btn-primary btn-sm" %>
</p>
