<h2><%= t('.title') %></h2>
<%= render 'form', product: @product, products: @products, url: admin_products_path, button_text: t('.submit') %> 
<%= link_to 'Cancelar', '#', class:"btn btn-dark btn-sm mb-1 mt-1" %>


